<form>
  <div class="compendia-settings">
    <h4>{{localize "CPR.settings.compendiumMenu.desc"}}</h4>
    <hr/>
    <h4>{{localize "CPR.settings.criticalInjuryRollTableCompendium.name"}}</h4>
    <select name="injuryChoice">
      {{selectOptions choicesCrit selected=critCurr localize=true}}
    </select>
    <a class="fas fa-circle-question help-article"
       href="https://gitlab.com/cyberpunk-red-team/fvtt-cyberpunk-red-core/-/wikis/System-Documentation/Items/Critical-Injuries"
       data-tooltip="{{localize "CPR.settings.criticalInjuryRollTableCompendium.help"}}">
    </a>
    <hr/>
    <h4>{{localize "CPR.settings.netArchRollTableCompendium.name"}}</h4>
    <select name="netArchChoice">
      {{selectOptions choicesNet selected=netCurr localize=true}}
    </select>
    <a class="fas fa-circle-question help-article"
       href="https://gitlab.com/cyberpunk-red-team/fvtt-cyberpunk-red-core/-/wikis/System-Documentation/Items/NET-Architecture"
       data-tooltip="{{localize "CPR.settings.netArchRollTableCompendium.help"}}">
    </a>
    <hr/>
    <h4>{{localize "CPR.settings.dvRollTableCompendium.name"}}</h4>
    <select name="dvChoice">
      {{selectOptions choicesDv selected=dvCurr localize=true}}
    </select>
    <a class="fas fa-circle-question help-article"
       href="https://gitlab.com/cyberpunk-red-team/fvtt-cyberpunk-red-core/-/wikis/System-Documentation/DV-Tables"
       data-tooltip="{{localize "CPR.settings.dvRollTableCompendium.help"}}">
    </a>
    <button type="submit">
      <i class="fas fa-floppy-disk"></i> {{localize "CPR.settings.saveSettings"}}
    </button>
  </div>
</form>
