<form class="dialog-sheet">
  <div class="dialog-header flexcol">
    <div class="text-normal text-center">
      {{localize "CPR.dialog.selectRoleBonuses.message"}}
    </div>
  </div>
  <hr/>
  <div class="dialog-grid flexcol">
    <ol class="dialog-list">
      <li class="dialog-item dialog-item-header flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.dialog.selectRoleBonuses.options"}}
        </div>
        <div class="dialog-item-input text-nowrap text-padding-right">
          {{localize "CPR.dialog.common.select"}}
        </div>
      </li>
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap text-semi">
          {{localize "CPR.dialog.selectRoleBonuses.bonusRatio"}}
        </div>
        <div class="dialog-item-input text-nowrap flexrow">
          <span class="dialog-item-input">1 :</span><input class="text-right" name="bonusRatio" type="number" value="{{roleData.bonusRatio}}"/>
        </div>
      </li>
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap text-semi">
          {{localize "CPR.effectSheet.header.situational"}}
        </div>
        <div class="dialog-item-input text-nowrap">
          <a class="item-checkbox" data-target="roleData.isSituational"><i class="far fa{{#if roleData.isSituational }}-check{{/if }}-circle"></i></a>
        </div>
      </li>
      {{#if roleData.isSituational }}
        <li class="dialog-item flexrow">
          <div class="dialog-item-name text-nowrap text-semi">
            {{localize "CPR.effectSheet.header.onByDefault"}}
          </div>
          <div class="dialog-item-input text-nowrap">
            <a class="item-checkbox" data-target="roleData.onByDefault"><i class="far fa{{#if roleData.onByDefault }}-check{{/if }}-circle"></i></a>
          </div>
        </li>
      {{/if}}
      <li class="dialog-item dialog-item-header flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.dialog.selectRoleBonuses.universalBonuses"}}
        </div>
        <div class="dialog-item-input text-nowrap text-padding-right">
          {{localize "CPR.dialog.common.select"}}
        </div>
      </li>
      {{#each (cprFindConfigObj "universalBonuses") as |universalBonus u| }}
        <li class="dialog-item flexrow">
          <div class="dialog-item-name text-nowrap text-nowrap">
            {{localize universalBonus}}
          </div>
          <div class="dialog-item-input text-nowrap text-nowrap text-semi text-space-around">
            {{#if (cprListContains ../roleData.universalBonuses u) }}
              <input type="checkbox" name="universalBonuses" value="{{u}}" checked/>
            {{else}}
              <input type="checkbox" name="universalBonuses" value="{{u}}"/>
            {{/if}}
          </div>
        </li>
      {{/each}}
      <li class="dialog-item dialog-item-header flexrow">
        <div class="dialog-item-name text-nowrap">
          {{localize "CPR.dialog.selectRoleBonuses.skill"}}
        </div>
        <div class="dialog-item-input text-nowrap text-padding-right">
          {{localize "CPR.dialog.common.select"}}
        </div>
      </li>
      {{#each skillList as |skill| }}
        <li class="dialog-item flexrow">
          <div class="dialog-item-name text-nowrap">
            {{localize (cprGetLocalizedlNameKey skill.name "skill")}}
          </div>
          <div class="dialog-item-input text-nowrap text-semi text-space-around">
            {{#if (cprObjectListContains ../roleData.bonuses "name" skill.name) }}
              <input type="checkbox" name="selectedSkills" value="{{skill.name}}" checked/>
            {{else}}
              <input type="checkbox" name="selectedSkills" value="{{skill.name}}"/>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  <hr/>
  {{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
