<form class="dialog-sheet">
  <div class="dialog-grid flexcol">
    <ol class="dialog-list lifepath-list">
      <li class="dialog-item flexcol cultural-origins">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.culturalOrigins"}}
        </div>
        <textarea class="lifepath-data" name="culturalOrigin">{{culturalOrigin}}</textarea>
      </li>
      <li class="dialog-item flexcol languages">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.languages"}}
        </div>
        <textarea class="lifepath-data" name="languages">{{languages}}</textarea>
      </li>
      <li class="dialog-item flexcol personality">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.personality"}}
        </div>
        <textarea class="lifepath-data" name="personality">{{personality}}</textarea>
      </li>
      <li class="dialog-item flexcol clothing-style">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.clothingStyle"}}
        </div>
        <textarea class="lifepath-data" name="clothingStyle">{{clothingStyle}}</textarea>
      </li>
      <li class="dialog-item flexcol hairstyle">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.hairStyle"}}
        </div>
        <textarea class="lifepath-data" name="hairStyle">{{hairStyle}}</textarea>
      </li>
      <li class="dialog-item flexcol affectations">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.affectations"}}
        </div>
        <textarea class="lifepath-data" name="affectations">{{affectations}}</textarea>
      </li>
      <li class="dialog-item flexcol value-most">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.valueMost"}}
        </div>
        <textarea class="lifepath-data" name="valueMost">{{valueMost}}</textarea>
      </li>
      <li class="dialog-item flexcol people-feelings">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.peopleFeelings"}}
        </div>
        <textarea class="lifepath-data" name="aboutPeople">{{aboutPeople}}</textarea>
      </li>
      <li class="dialog-item flexcol valued-person">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.valuedPerson"}}
        </div>
        <textarea class="lifepath-data" name="valuedPerson">{{valuedPerson}}</textarea>
      </li>
      <li class="dialog-item flexcol valued-possession">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.valuedPossession"}}
        </div>
        <textarea class="lifepath-data" name="valuedPossession">{{valuedPossession}}</textarea>
      </li>
      <li class="dialog-item flexcol family-background">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.familyBackground"}}
        </div>
        <textarea class="lifepath-data" name="familyBackground">{{familyBackground}}</textarea>
      </li>
      <li class="dialog-item flexcol child-environment">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.childhoodEnvironment"}}
        </div>
        <textarea class="lifepath-data" name="childhoodEnvironment">{{childhoodEnvironment}}</textarea>
      </li>
      <li class="dialog-item flexcol family-crisis">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.familyCrisis"}}
        </div>
        <textarea class="lifepath-data" name="familyCrisis">{{familyCrisis}}</textarea>
      </li>
      <li class="dialog-item flexcol friends">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.friends"}}
        </div>
        <textarea class="lifepath-data" name="friends">{{friends}}</textarea>
      </li>
      <li class="dialog-item flexcol enemies">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.enemies"}}
        </div>
        <textarea class="lifepath-data" name="enemies">{{enemies}}</textarea>
      </li>
      <li class="dialog-item flexcol tragic-love-affairs">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.lovers"}}
        </div>
        <textarea class="lifepath-data" name="tragicLoveAffairs">{{tragicLoveAffairs}}</textarea>
      </li>
      <li class="dialog-item flexcol life-goals">
        <div class="lifepath-label text-semi">
          {{localize "CPR.characterSheet.bottomPane.lifepath.lifeGoals"}}
        </div>
        <textarea class="lifepath-data" name="lifeGoals">{{lifeGoals}}</textarea>
      </li>
    </ol>
  </div>
  {{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
