<div class="item-summary-line">
  <span class="summary-name">
    {{localize (cprFindConfigValue "ammoType" item.system.type)}} {{localize (cprFindConfigValue "ammoVariety" item.system.variety)}}
  </span>
</div>
<hr/>
<div class="item-summary-line">
  <span class="summary-name text-semi">{{localize "CPR.itemSheet.ammo.ablationValue"}}:</span>
  <span class="summary-value">{{item.system.ablationValue}}</span>
</div>
