<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.itemSheet.skill.level"}}:
  </span>
  <span class="summary-value">
    {{item.system.level}}
  </span>
</div>
<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.global.generic.stat"}}:
  </span>
  <span class="summary-value">
    {{localize (cprFindConfigValue "statList" item.system.stat)}}
  </span>
</div>
