<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.itemSheet.vehicle.seats"}}:
  </span>
  <span class="summary-value">
    {{cprApplyUpgrade item item.system.seats "seats"}}
  </span>
</div>
<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.itemSheet.vehicle.sdp"}}:
  </span>
  <span class="summary-value">
    {{cprApplyUpgrade item item.system.sdp "sdp"}}
  </span>
</div>
<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.itemSheet.vehicle.combatSpeed"}}:
  </span>
  <span class="summary-value">
    {{cprApplyUpgrade item item.system.speedCombat "speedCombat"}}
  </span>
</div>
