<div class="left-pane">
  {{> "systems/cyberpunk-red-core/templates/actor/character/left-pane/cpr-left-pane-info.hbs"}}
  {{> "systems/cyberpunk-red-core/templates/actor/character/left-pane/cpr-left-pane-stats.hbs"}}
</div>
