<div class="right-pane">
  <div class="right-tabs-section text-normal">
    <nav class="navtabs-right cpr-tabs nav" data-group="primary">
      <div class="tab-pink-underlay">
        <a class="skills-tab tab-label text-semi tab-indent"
           data-tab="skills">
          {{localize "CPR.characterSheet.rightPane.skills.title"}}
        </a>
      </div>
      <div class="tab-pink-underlay">
        <a class="gear-tab tab-label text-semi tab-indent"
           data-tab="gear">
          {{localize "CPR.global.itemTypes.gear"}}
        </a>
      </div>
      <div class="tab-pink-underlay">
        <a class="cyberware-tab tab-label text-semi tab-indent"
           data-tab="cyberware">
          {{localize "CPR.characterSheet.rightPane.cyber.title"}}
        </a>
      </div>
      <div class="tab-pink-underlay">
        <a class="effects-tab tab-label text-semi tab-indent"
           data-tab="effects">
          {{localize "CPR.characterSheet.rightPane.effects.title"}}
        </a>
      </div>
    </nav>
  </div>
  <div class="right-content-section">
    <div class="tab skills-tab" data-group="primary" data-tab="skills">
      {{> "systems/cyberpunk-red-core/templates/actor/character/right-pane/cpr-skills.hbs"}}
    </div>
    <div class="tab gear-tab" data-group="primary" data-tab="gear">
      {{> "systems/cyberpunk-red-core/templates/actor/character/right-pane/cpr-gear.hbs"}}
    </div>
    <div class="tab cyberware-tab" data-group="primary" data-tab="cyberware">
      {{> "systems/cyberpunk-red-core/templates/actor/character/right-pane/cpr-cyberware.hbs"}}
    </div>
    <div class="tab effects-tab" data-group="primary" data-tab="effects">
      {{> "systems/cyberpunk-red-core/templates/actor/character/right-pane/cpr-effects.hbs"}}
    </div>
  </div>
</div>
