{{#unless item.system.isInstalled}}
  <li class="item flexrow{{#if item.system.favorite }} favorite{{else }}{{#if (cprListContains sheet.options.collapsedSections "gearTab-gear") }} hide{{/if }}{{/if }}"
      data-item-id="{{item._id}}"
      data-item-category="{{item.type}}"
      draggable="true">
    <div class="item-name gear-name text-nowrap"
         data-tooltip="{{#if item.system.class }}{{localize (cprFindConfigValue "programClassList" item.system.class) }}{{/if }}">
      <a class="name item-edit flex-center">
        <img class="item-thumb" src="{{item.img}}"/>
        {{ item.name }}
      </a>
    </div>
    <div class="item-detail gear-data text-nowrap"
         data-tooltip="{{cprSanitizeText item.system.description.value}}">
      {{cprSanitizeText item.system.description.value}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
      {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
    </div>
  </li>
{{/unless}}
