.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-width- {
  &5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5%;
  }
  &10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
  }
  &15 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
  }
  &20 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
  }
  &25 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
  }
  &30 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
  }
  &35 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 35%;
  }
  &40 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
  }
  &45 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 45%;
  }
  &50 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
  }
  &55 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 55%;
  }
  &60 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
  }
  &65 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 65%;
  }
  &70 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
  }
  &75 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
  }
  &80 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80%;
  }
  &85 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 85%;
  }
  &90 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90%;
  }
  &95 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 95%;
  }
  &100 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}
