<a class="item-action"
   data-item-id="{{id}}"
   data-action-type="manage-upgrades"><i class="fab fa-superpowers"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.manageUpgrades"}}"></i></a>
