<div class="rollcard">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-stat">
      <div class="text-center text-padding-top text-normal text-semi">
        {{rollTitle}}
      </div>
      <div class="rollcard-subtitle">
        <div class="rollcard-subtitle-center text-small">
          {{#if (cprCompare rollType "===" "attack") }}
            {{localize "CPR.rolls.attack"}}
            {{else if (cprCompare rollType "===" "defense")}}
            {{localize "CPR.rolls.defense"}}
          {{else}}
            {{roleName}} {{localize "CPR.rolls.roleAbility"}}
          {{/if}}
        </div>
        <div class="rollcard-subtitle-right">
          {{#if (cprCompare rollType "===" "attack") }}
            <a class="clickable"
               data-action="rollDamage"
               data-actor-id="{{entityData.actor}}"
               data-damage-location="brain"
               data-token-id="{{entityData.token}}"
               data-item-id="{{rollCardExtraArgs.cyberdeck.id}}"
               data-program-id="zap">
              <i class="fas fa-droplet red-fg"
                 data-tooltip="CPR.actorSheets.commonActions.rollDamage"></i>
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="rollcard-bottom">
    <div class="cpr-block">
      <div class="d10-rollcard-data">
        <div class="d10-dice-div">
          {{!-- die image for initialRoll --}}
          {{#if criticalCard }}
            {{#if wasCritSuccess }}
              <img class="d10"
                   src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}_preem.svg"/>
              <i class="fas fa-plus"></i>
            {{else}}
              <img class="d10"
                   src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}_fail.svg"/>
              <i class="fas fa-minus"></i>
            {{/if}}
            <img class="d10"
                 src="systems/cyberpunk-red-core/icons/dice/red/d10_{{cprMath "abs" criticalRoll}}.svg"/>
          {{else}}
            <img class="d10"
                 src="systems/cyberpunk-red-core/icons/dice/black/d10_{{initialRoll}}.svg"/>
          {{/if}}
        </div>
        <div class="d10-number-div">
          <a><span class="clickable{{#if criticalCard }} text-semi{{/if }}"
      data-action="toggleVisibility"
      data-visible-element="d10-data-details">{{resultTotal}}</span></a>
        </div>
        <div class="d10-data-div">
          <div class="d10-data-details hide">
            <div class="text-normal text-nowrap">{{roleName}}: {{roleValue}}</div>
            {{#if statName }}
              <div class="text-normal text-nowrap">{{statName}}: {{statValue}}</div>
            {{/if}}
            {{#if (cprCompare mods.length "||" additionalMods.length) }}
              {{> "systems/cyberpunk-red-core/templates/chat/cpr-rollcard-modifiers.hbs" this}}
            {{/if}}
            {{#if luck }}
              <div class="text-normal text-semi text-nowrap">
                {{localize "CPR.global.stats.luck"}}: {{luck}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
