<div class="rollcard">
  <div class="rollcard-top">
    <div class="cpr-block chat-rollTitle-stat">
      <div class="text-center text-padding-top text-normal text-semi">
        {{rollTitle}}
      </div>
      <div class="rollcard-subtitle">
        <div class="rollcard-subtitle-center text-small">
          {{#if (cprCompare statName "===" "DEFENSE") }}
          {{localize "CPR.global.generic.defense"}}{{else}}{{localize "CPR.rolls.attack"}}{{/if}}
          </div>
          <div class="rollcard-subtitle-right">
            {{#if (cprProgramHasDamageRoll rollCardExtraArgs.program) }}
              <a class="clickable"
                 data-action="rollDamage"
                 data-actor-id="{{entityData.actor}}"
                 data-damage-location="brain"
                 data-token-id="{{entityData.token}}"
                 data-item-id="{{rollCardExtraArgs.cyberdeck.id}}"
                 data-program-id="{{rollCardExtraArgs.program.id}}">
                <i class="fas fa-droplet red-fg"
                   data-tooltip="CPR.actorSheets.commonActions.rollDamage"></i>
              </a>
            {{/if}}
          </div>
          <div class="rollcard-subtitle-2-center text-small">
            {{#if (cprCompare rollCardExtraArgs.program.system.class "===" "blackice") }}
              {{localize (cprFindConfigValue "blackIceType" rollCardExtraArgs.program.system.blackIceType)}} {{/if}}{{localize (cprFindConfigValue "programClassList" rollCardExtraArgs.program.system.class)}}
            </div>
          </div>
        </div>
      </div>
      <div class="rollcard-bottom">
        <div class="cpr-block">
          <div class="d10-rollcard-data">
            <div class="d10-dice-div">
              {{!-- die image for initialRoll --}}
              {{#if criticalCard }}
                {{#if wasCritSuccess }}
                  <img class="d10"
                       src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}_preem.svg"/>
                  <i class="fas fa-plus"></i>
                {{else}}
                  <img class="d10"
                       src="systems/cyberpunk-red-core/icons/dice/red/d10_{{initialRoll}}_fail.svg"/>
                  <i class="fas fa-minus"></i>
                {{/if}}
                <img class="d10"
                     src="systems/cyberpunk-red-core/icons/dice/red/d10_{{cprMath "abs" criticalRoll}}.svg"/>
              {{else}}
                <img class="d10"
                     src="systems/cyberpunk-red-core/icons/dice/black/d10_{{initialRoll}}.svg"/>
              {{/if}}
            </div>
            <div class="d10-number-div">
              <a><span class="clickable{{#if criticalCard }} text-semi{{/if }}"
      data-action="toggleVisibility"
      data-visible-element="d10-data-details">{{resultTotal}}</span></a>
            </div>
            <div class="d10-data-div">
              <div class="d10-data-details hide">
                {{#if statValue }}
                  <div class="text-normal text-semi">{{localize statName}} + {{statValue}}</div>
                {{/if}}
                {{#if roleValue }}
                  <div class="text-normal text-semi">{{localize roleName}} + {{roleValue}}</div>
                {{/if}}
                {{#if (cprCompare mods.length "||" additionalMods.length) }}
                  {{> "systems/cyberpunk-red-core/templates/chat/cpr-rollcard-modifiers.hbs" this}}
                {{/if}}
                {{#if luck }}
                  <div class="text-normal text-semi text-nowrap">
                    {{localize "CPR.global.stats.luck"}}: {{luck}}
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
